.App {
  text-align: center;
  font-family: 'Comfortaa', sans-serif;
  min-height: 100%;
  position: relative;
}

.light {
  color: #ffffffba;
}

.dark {
  color: #000000ba;
}

.unreleased {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.About {
  display: flex;
  justify-content: flex-end;
  flex-flow: row wrap;
  position: absolute;
  top: 5vw;
  right: 5%;
  width: 90%;
}

.About img {
  width: 21%;
  padding: 2%;
}

.About .bio {
  font-size: 6vw;
}

.About .artistImage {
  width: 100%;
  padding: 0;
  margin: auto;
  border: 1px solid #707070;
}

.CoverImage {
  display: none;
}

.SpotifyButton {
  position: fixed;
  left: 1vw;
  top: 2vh;
}

.bottom-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  height: 10vh;
  width: 100%;
  background-color: #000000;
  opacity: 50%;
}

.TrackList {
  display: flex;
  flex-direction: row;
}

.TrackList img {
  height: 3vh;
  position: relative;
  top: 3.5vh;
  left: 3vw;
}

.TrackList .display {
  color: #ffffff;
  font-size: 4.5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.TrackList .display p {
  padding-left: 5vw;
}

.TrackList .list {
  position: fixed;
  bottom: 9.9vh;
  background-color: #000000;
  line-height: 3vh;
  padding: 3vh 10vh 3vh 5vh;
}

.TrackList .list li {
  margin-bottom: 3vh;
  font-size: 4vw;
  line-height: normal;
}

.TrackList .list li:last-child {
  margin-bottom: 0;
}

.TrackList ul {
  color: #ffffff;
  opacity: 90%;
  list-style-type: none;
  padding-left: 3vh;
  font-size: 4.5vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Controls {
  display: flex;
  flex-wrap: nowrap;
}
.Controls img {
  height: 4vh;
  position: relative;
  top: 3vh;
  right: 5%;
  margin: 0 0.5vw;
}

.Controls .backNext {
  height: 3vh;
  top: 3.5vh;
}

@media (min-aspect-ratio: 13/16) {
  .About {
    width: 50%;
  } 

  .About .bio {
    font-size: 3vw;
  }

  .CoverImage {
    display: inline;
  }

  .TrackList img {
    display: none;
  }

  .TrackList .display p {
    font-size: 16px;
  }

  .TrackList .list {
    text-align: left;
  }

  .TrackList .list ul {
    margin: 0;
  }

  .TrackList .list li {
    font-size: 16px;
  }

  .TrackList .list li:last-child {
    margin-bottom: 0;
  }
}

@media (min-aspect-ratio: 1/1) {
  .About {
    top: 1vw;
    right: 1%;
    width: 25%;
  }
  .About .bio {
    font-size: 2vw;
  }
}

.player video {
  position: fixed;
  z-index: -100;
  object-fit: cover;
  min-width: 100% !important;
  min-height: 100% !important;
  transform: translateX(-50%);
}
